[submodule "yolov8/ultralytics"]
	path = yolov8/ultralytics
	url = git@github.com:boostcampaitech4lv23cv3/ultralytics.git
[submodule "yolov8/TensorRT-For-YOLO-Series"]
	path = yolov8/TensorRT-For-YOLO-Series
	url = git@github.com:boostcampaitech4lv23cv3/TensorRT-For-YOLO-Series.git
